node_modules
.DS_Store

# Logs
*.log
npm-debug.log*
logs/

# IDE
.idea
.vscode
!.vscode/extensions.json

# Testing
coverage

# Package build dirs
dist

# jest caches
/.jest-cache

# Yarn cache files (not using Zero-installs approach)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions